.nuxt-content {
    width: 55%;
    margin: auto;
}

.nuxt-content h1 {
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--defaultTextColor);
    margin: 1.5rem 0;
}

.nuxt-content h2 {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--defaultTextColor);
    margin: 1.5rem 0;
}

.nuxt-content h3 {
    font-size: 1.25rem;
    font-weight: 900;
    color: var(--defaultTextColor);
    margin: 1.5rem 0;
}

.nuxt-content p {
    margin: 1rem 0;
    font-size: 1.05rem;
    line-height: 1.4;
    font-weight: 500;
    color: #2E2E2E;
}

.nuxt-content li {
    line-height: 1.4;
    font-size: 1.05em;
    color: #2E2E2E;
}

.nuxt-content a, .nuxt-content a:visited {
    color: var(--importantTextColor);
    text-decoration: none;
    font-weight: bold;
}

.nuxt-content img {
    margin: 1rem 0;
}

.nuxt-content code, .nuxt-content pre code span {
    font-size: 1rem;
    background-color: #f5f2f0;
    font-family: 'JetBrains';
}

.nuxt-content p code {
    padding: 3px;
}

